<a href="https://colab.research.google.com/github/HaseenaHameed/Car_economy_price_prediction/blob/main/Car_economy_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# training data = car economy price
# testing data = test_data

In [ ]:
#Loading dataset to pandas DataFrame
import numpy as np
import pandas as pd
df=pd.read_csv("/content/car economy price.csv")
df

In [ ]:
df.head()

In [ ]:
df,tail()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
# count of each name

df['Name'].value_counts()

In [ ]:
# count of each location
loc=df['Location'].value_counts()
import matplotlib.pyplot as plt
my_label=['Mumbai','Hyderabad','Kochi','Coimbatore','Pune','Delhi','Kolkata','Chennai','Jaipur','Bangalore','Ahmedabad']
plt.pie(loc,labels=my_label)
plt.pie(loc)

In [ ]:
# count of each fuel_type
fuel=df['Fuel_Type'].value_counts()
fuel
my_label=['Diesel','Petrol','CNG','LPG','Electric']
plt.pie(fuel,labels=my_label)

In [ ]:
# count of each Transmission
trans=df['Transmission'].value_counts()
my_label=['Manual','Automatic']
plt.pie(trans,labels=my_label)

In [ ]:
# count of each owner_type
owner=df['Owner_Type'].value_counts()
my_label=['First','Second','Third','Fourth & Above ']
plt.pie(owner,labels=my_label)

In [ ]:
# Get dummy encoding
dummy=pd.get_dummies(df[['Location','Fuel_Type','Transmission','Owner_Type']],drop_first=True)
dummy

In [ ]:
# Concatenation
df1=pd.concat([df,dummy],axis=1)
df1

In [ ]:
# drop
dfe=df1.drop((['Unnamed: 0', 'Name', 'Location','Fuel_Type', 'Transmission', 'Owner_Type','New_Price']),axis=1)
dfe

In [ ]:
# Replace string
dfe['Mileage']=dfe['Mileage'].str.replace('km/kg','')
dfe['Mileage']=dfe['Mileage'].str.replace('kmpl','')
dfe['Power']=dfe['Power'].str.replace('bhp','')
dfe['Engine']=dfe['Engine'].str.replace('CC','')
dfe

In [ ]:
# in mileage there is some 'null' values
# replace null ====> 0
dfe['Mileage']=dfe['Mileage'].str.replace('null','0')
dfe['Power']=dfe['Power'].str.replace('null','0') 
dfe['Engine']=dfe['Engine'].str.replace('null','0')

In [ ]:
dfe.dtypes

In [ ]:
# CONVERT 
# mileage,engine,power ===> float
dfe['Mileage']=dfe['Mileage'].astype(float)
dfe['Engine']=dfe['Engine'].astype(float)
dfe['Power']=dfe['Power'].astype(float)
dfe.dtypes

In [ ]:
# Mileage power Engine  - null ===> 0
# but mileage power engine will never be 0 so we give Nan(not a number) 
dfe.loc[dfe.Engine==0,'Engine']=np.NaN
dfe.loc[dfe.Power==0,'Power']==np.NaN
dfe.loc[dfe.Mileage==0,'Mileage']==np.NaN

In [ ]:
dfe.isna().sum()

In [ ]:
# fill missing value
dfe['Engine']=dfe['Engine'].fillna(dfe['Engine'].mean())
dfe['Power']=dfe['Power'].fillna(dfe['Power'].mean())
dfe['Mileage']=dfe['Mileage'].fillna(dfe['Mileage'].mean())
dfe['Seats']=dfe['Seats'].fillna(dfe['Seats'].mode()[0])
dfe.isna().sum()

In [ ]:
# seperate x and y
x=dfe.drop(['Price'],axis=1)
y=dfe['Price']
y

In [ ]:
# drop electic 
x=x.drop(['Fuel_Type_Electric'],axis=1)
x

In [ ]:
# testing data
import numpy as np
import pandas as pd
df2=pd.read_csv("/content/test-data.csv")
df2

In [ ]:
df2.head()

In [ ]:
df2.tail()

In [ ]:
df2.shape

In [ ]:
df2.isna().sum()

In [ ]:
# count of each name 
name=df2['Name'].value_counts()
name

In [ ]:
# count of each location
loc=df2['Location'].value_counts()
loc

In [ ]:
# count of each transmission
trans=df2['Transmission'].value_counts()
trans

In [ ]:
# count of each owner_type
owner=df2['Owner_Type'].value_counts()
owner

In [ ]:
# count of each fuel_type
fuel=df2['Fuel_Type'].value_counts()
fuel

In [ ]:
# Get dummy
dummy=pd.get_dummies(df2[['Location','Fuel_Type','Transmission','Owner_Type']],drop_first=True)
dummy

In [ ]:
# concatenation
df3=pd.concat([df2,dummy],axis=1)
df3

In [ ]:
# drop
df4=df3.drop((['Unnamed: 0', 'Name', 'Location','Fuel_Type', 'Transmission', 'Owner_Type','New_Price']),axis=1)
df4

In [ ]:
# Replace string
df4['Mileage']=df4['Mileage'].str.replace('km/kg','')
df4['Mileage']=df4['Mileage'].str.replace('kmpl','')
df4['Power']=df4['Power'].str.replace('bhp','')
df4['Engine']=df4['Engine'].str.replace('CC','')
df4

In [ ]:
# in mileage there is some 'null' values
# replace null ====> 0
df4['Mileage']=df4['Mileage'].str.replace('null','0')
df4['Power']=df4['Power'].str.replace('null','0') 
df4['Engine']=df4['Engine'].str.replace('null','0')

In [ ]:
df4.isna().sum()

In [ ]:
# CONVERT 
# mileage,engine,power ===> float
df4['Mileage']=df4['Mileage'].astype(float)
df4['Engine']=df4['Engine'].astype(float)
df4['Power']=df4['Power'].astype(float)
df4.dtypes

In [ ]:
# Mileage power Engine  - null ===> 0
# but mileage power engine will never be 0 so we give Nan(not a number) 
df4.loc[df4.Engine==0,'Engine']=np.NaN
df4.loc[df4.Power==0,'Power']==np.NaN
df4.loc[df4.Mileage==0,'Mileage']==np.NaN

In [ ]:
# fill missing value
df4['Engine']=df4['Engine'].fillna(dfe['Engine'].mean())
df4['Power']=df4['Power'].fillna(dfe['Power'].mean())
df4['Mileage']=df4['Mileage'].fillna(dfe['Mileage'].mean())
df4['Seats']=df4['Seats'].fillna(dfe['Seats'].mode()[0])
df4.isna().sum()

In [ ]:
 w = df4
 w

In [ ]:
#prediction by Linear regression model 
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x,y)
y_pred=model.predict(w)
y_pred